{
  "plugins": ["react", '@typescript-eslint'],
  "extends": ["react-app", "airbnb-typescript", "prettier", 'plugin:prettier/recommended'],
  parser: '@typescript-eslint/parser',
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
    },
    ecmaVersion: 12,
    sourceType: 'module',
    project: './tsconfig.json',
  },
  rules: {
    'react/function-component-definition': 0,
  }
}
